<%- include('../partials/header') %>

<div id="pollIndex" class="container">

    <div class="list-group">
        <div class="list-group-item-dark p-3 justify-content-end d-flex">
            <!-- <button class="">date added</button>
            <button class="">popular</button>
            <button class="">controversial</button> -->
            <a href="/polls/new" class="btn btn-success">Post New Poll</a>
        </div>
        <% polls.forEach(poll => { %>
            <a class="list-group-item list-group-item-action" href="#">
                <h3><%= poll.title %> </h3>
                <small>Posted by: <%= poll.author.username %><p class="text-muted">-<%= poll.createdAt.toDateString() %> </p> </small>
            </a>
        <% }) %>
    </div>
</div>

<%- include('../partials/footer') %> 