
<%- include('../partials/header') %> 

<% if (currentUser && poll.author.id.equals(currentUser.id)) { %>
    <form class="form deleteForm" action="/polls/<%= poll._id %>/delete?_method=DELETE " method="POST">
        <button class="btn btn-outline-danger btn-sm ">Delete Poll</button>
    </form>
<% } %>

<form id="voteForm" class="Form" action="/polls/<%= poll._id %>?_method=PUT" method="POST">
    <h1><%= poll.title %></h1>
    <div class="form-group">
        <% poll.options.forEach(option => { %>
            <% if (option !== "") { %>
                <div class="voteContainer">
                    <p><%= option %></p> 
                    <input class="radioBtn" type="radio" required name="vote" value="<%= option %> ">
                </div>
            <% } %>
        <% }) %>
        <button class="btn btn-success btn-lg" type="submit">Submit Vote</button>
    </div>
</form>


<%- include('../partials/footer') %> 