
<%- include('../partials/header') %> 

<% if (currentUser && poll.author.id.equals(currentUser.id) || currentUser.isAdmin) { %>
    <form class="form deleteForm" action="/polls/<%= poll._id %>/delete?_method=DELETE " method="POST">
        <button class="btn btn-outline-danger btn-sm ">Delete Poll</button>
    </form>
<% } %>

<form id="voteForm" class="Form" action="/polls/<%= poll._id %>?_method=PUT" method="POST">
    <h1><%= poll.title %></h1>
    <div class="form-group">
        <% for( let i = 0; i < poll.options.length; i++ ) { %>
            <div class="voteContainer">
                <p><%= poll.options[i] %></p> 
                <input class="radioBtn" type="radio" required name="vote" value="<%= i %> ">
            </div>
        <% } %>
        <button class="btn btn-success btn-lg" type="submit">Submit Vote</button>
    </div>
</form>

<ul>
    <% for( let i = 0; i < poll.options.length; i++ ) { %>
        <li><%= poll.options[i] %>: <%= poll.votes[i] %></li>
    <% } %>
</ul>

<%- include('../partials/footer') %> 